<div class="mb-3">
  <label for="{{ id|default:name }}" class="form-label">{{ label }}{% if required %} <span class="text-danger">*</span>{% endif %}</label>
  <input type="date" name="{{ name }}" id="{{ id|default:name }}" value="{{ value|default:'' }}" class="form-control{% if error %} is-invalid{% endif %}"{% if placeholder %} placeholder="{{ placeholder }}"{% endif %}{% if required %} required{% endif %}{% if disabled %} disabled{% endif %}>
  {% if help %}<div class="form-text">{{ help }}</div>{% endif %}
  {% if error %}<div class="invalid-feedback d-block">{{ error }}</div>{% endif %}
</div>
